.header-logo {
  top: 48px;
  position: absolute;

  @include media-breakpoint-down(md) {
    top: 44px;
  }

  a {
    position: relative;
    z-index: 100;

    svg {
      max-width: 180px;
      width: 38vw;

      @include media-breakpoint-up(md) {
        width: 100%;
        max-width: 296px;
      }

      @include media-breakpoint-between(lg, xl) {
        max-width: 200px;
      }

      path, rect {
        transition: all 1s;
      }
    }
  }

  &.mobile-menu-open {
    position: fixed;
    z-index: 99;

    a {
      svg rect,
      svg path {
        fill: $ccg-dark-green !important;
      }

      svg g g path:nth-child(25) {
        fill: $ccg-pink !important;
      }
    }
  }
}