.privacy-header {
  padding-top: $ccg-top-page-padding;
  padding-bottom: 60px;

  h1.title {
    @include title-text($ccg-green);
  }

  .intro {
    p {
      @include sub-heading-text($ccg-green);

      a {
        color: $ccg-green;
        background: linear-gradient(0deg, $ccg-orange, $ccg-orange) no-repeat right bottom / 0;
        transition: background-size 350ms;

        &:where(:hover, :focus-visible) {
          background-size: 100%;
          background-position-x: left;
        }
      }
    }
  }
}