.archive.tax-sector {
  .header-logo a {
    svg rect,
    svg path {
      fill: $ccg-dark-green !important;
    }

    svg g g path:nth-child(25) {
      fill: $ccg-pink !important;
    }
  }

  @import "components/sector-term/header";
  @import "components/sector-term/dropdown";

  @import "components/sector-term/content-staff-member";
  @import "components/service-term/services";
  @import "components/service-term/why-ccg";
  @import "components/service-term/quotes";
  @import "components/service-term/related-content";
  @import "components/service-term/awards";
  @import "components/service-term/explained";
  @import "components/service-term/challenges-opportunities";
  @import "components/service-term/thought-leadership";
  @import "components/service-term/other-services";

  .newsletter-popup-container {
    display: none;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    bottom: -250px;

    @include media-breakpoint-up(md) {
      position: absolute;
      z-index: 4;
      left: 430px;
      bottom: -350px;
    }

    @include media-breakpoint-down(sm) {
      width: 75%;
    }

    &.disabled {
      display: none !important;
    }

    @import "../newsletter-popup";
  }
}