.archive.tax-sector {
  @import "components/sector-term/header";
  @import "components/sector-term/dropdown";

  @import "components/sector-term/content";

  @import "components/sector-term/related-content";

  .newsletter-popup-container {
    display: none;
    position: absolute;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    bottom: -250px;

    @include media-breakpoint-up(md) {
      position: absolute;
      z-index: 4;
      left: 430px;
      bottom: -350px;
    }

    @include media-breakpoint-down(sm) {
      width: 75%;
    }

    &.disabled {
      display: none !important;
    }

    @import "../newsletter-popup";
  }
}