footer {
  background-color: $ccg-dark-green;
  margin-top: -25px;
  padding-top: 105px;
  padding-bottom: 40px;
  position: relative;

  .footer-logo {
    svg {
      width: 165px;
      height: 30px;

      @include media-breakpoint-up(lg) {
        width: 218px;
        height: 40px;
      }
    }
  }

  .footer-sections {
    overflow: hidden;

    .main-footer-menu {
      ul {
        padding: 0;
        list-style: none;
        margin: 0;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(2, 1fr);

        a {
          text-transform: uppercase;
          text-decoration: none;
          font-family: $font-circular-bold;
          font-size: clamp(0.625rem, 0.4028rem + 0.463vw, 0.75rem);
          color: $ccg-pink;
          transition: $ccg-transition-all;

          &:hover {
            color: $ccg-orange;
          }
        }
      }

      @include media-breakpoint-down(md) {
        margin-top: 40px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #264b55;
      }
    }

    .social-contact {
      h4 {
        text-transform: uppercase;
        font-family: $font-circular-bold;
        font-size: clamp(0.625rem, 0.4028rem + 0.463vw, 0.75rem);
        color: $ccg-pink;
      }

      p {
        font-family: $font-circular-regular;
        text-decoration: none;
        font-size: clamp(0.6875rem, 0.1319rem + 1.1574vw, 1rem);
        line-height: clamp(0.875rem, 0.6528rem + 0.463vw, 1rem);
        color: #E5E4E0;
        width: fit-content;
      }

      a {
        font-family: $font-circular-regular;
        text-decoration: none;
        font-size: clamp(0.6875rem, 0.1319rem + 1.1574vw, 1rem);
        line-height: clamp(0.875rem, 0.6528rem + 0.463vw, 1rem);
        color: #E5E4E0;
        width: fit-content;
        transition: $ccg-transition-all;

        &:hover {
          color: $ccg-orange;
        }
      }

      .social-container {
        @include media-breakpoint-up(lg) {
          margin-left: 40px;
        }

        .social {

          a {
            display: block;
            margin-bottom: 10px;
          }
        }
      }

      @include media-breakpoint-down(md) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #264b55;
      }
    }

    .credit {
      p {
        display: flex;
        height: 100%;
        margin: 0;
        align-items: flex-end;

        a {
          font-family: $font-circular-regular;
          text-decoration: none;
          font-size: clamp(0.6875rem, 0.1319rem + 1.1574vw, 1rem);
          line-height: clamp(0.875rem, 0.6528rem + 0.463vw, 1rem);
          color: #636363;
          transition: $ccg-transition-all;

          &:hover {
            color: $ccg-body-bg;
          }
        }

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    .legal {
      p {
        font-family: $font-circular-regular;
        text-decoration: none;
        font-size: clamp(0.6875rem, 0.1319rem + 1.1574vw, 1rem);
        line-height: clamp(0.875rem, 0.6528rem + 0.463vw, 1rem);
        color: #E5E4E0;
      }

      .company-name {
        display: flex;
        height: 100%;
        margin: 0;
        align-items: flex-end;

        @include media-breakpoint-down(md) {
          display: none;
        }
      }
    }

    .legal.footer-info {
      p {
        margin-bottom: 0;
      }

      .legal-text {
        .company-name {
          display: block;

          @include media-breakpoint-up(md) {
            display: none;
          }
        }

        a {
          color: $ccg-off-white;
          text-decoration: none;
          transition: $ccg-transition-all;

          &:hover {
            color: $ccg-orange;
          }
        }

        .credit {
          display: block;

          a {
            font-family: $font-circular-regular;
            text-decoration: none;
            font-size: clamp(0.6875rem, 0.1319rem + 1.1574vw, 1rem);
            line-height: clamp(0.875rem, 0.6528rem + 0.463vw, 1rem);
            color: #636363;
            transition: $ccg-transition-all;

            &:hover {
              color: $ccg-body-bg;
            }
          }

          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }

      .info-container {
        @include media-breakpoint-up(lg) {
          margin-left: 40px;
        }

        .info {
          ul {
            padding: 0;
            list-style: none;
            margin: 0;

            a {
              text-decoration: none;
              font-family: $font-circular-regular;
              font-size: clamp(0.6875rem, 0.1319rem + 1.1574vw, 1rem);
              line-height: clamp(0.875rem, 0.6528rem + 0.463vw, 1rem);
              color: #E5E4E0;
              transition: $ccg-transition-all;

              &:hover {
                color: $ccg-orange;
              }
            }
          }
        }
      }

      @include media-breakpoint-down(md) {
        .row, .col-8 {
          height: 100%;
        }

        .company-name {
          height: unset;
        }

        .legal-text {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        li.menu-item:first-child {
          line-height: 0;
        }
      }
    }
  }
}