.awards {
  position: relative;
  z-index: 7;
  margin-top: -25px;
  background-color: #fff;
  padding: 55px 0;
  border-radius: 0 0 25px 25px;

  h3 {
    font-size: clamp(1.75rem, 0.1944rem + 3.2407vw, 2.625rem);
    font-family: $font-circular-medium;
    color: $ccg-orange;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }

  .image {
    margin-bottom: 20px;
  }

  .years {
    @include body-text($ccg-text);
  }

  img {
    width: 100%;
  }

  .name {
    @include body-text($ccg-orange);
    font-family: $font-circular-medium;
  }

  .global-button {
    @include long-button($ccg-dark-green, $ccg-orange, #ffffff, #ffffff);
    margin: auto;
  }

  @include media-breakpoint-up(lg) {
    padding: 75px 0;
  }
}