.challenges-opportunities {
  position: relative;
  z-index: 5;
  margin-top: -25px;
  background-color: $ccg-green;
  padding: 55px 0;
  border-radius: 0 0 25px 25px;

  h3 {
    font-size: clamp(1.75rem, 0.1944rem + 3.2407vw, 2.625rem);
    font-family: $font-circular-medium;
    color: $ccg-orange;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }

  .large {
    font-size: clamp(1.25rem, 0.3611rem + 1.8519vw, 1.75rem);
    font-family: $font-circular-regular;
    color: #fff;
  }

  .body {
    @include body-text(#fff);
  }

  img {
    width: 100%;
    border-radius: $ccg-img-border-radius;
  }

  @include media-breakpoint-up(lg) {
    padding: 75px 0;
  }
}