.term-header {
  padding-top: $ccg-top-page-padding;
  margin-bottom: 60px;
  position: relative;

  .parallax-bars {
    &#bar-one {
      top: -40px;
      right: -120px;
      transform: rotate(325deg);

      @include media-breakpoint-only(md) {
        top: -10px;
        right: -60px;
      }

      @include media-breakpoint-up(lg) {
        top: 20px;
        right: 100px;
      }
    }
  }

  p.term {
    @include term($ccg-orange);
  }

  .parent-term {
    @include title-text($ccg-green);
    margin-bottom: 0 !important;
  }

  .child-term {
    @include title-text($ccg-green);
    font-family: $font-circular-regular;
  }

  .title {
    @include title-text($ccg-green);
  }

  .intro {
    h2 {
      @include sub-heading-text($ccg-green);

      a {
        color: $ccg-green;
        background: linear-gradient(0deg, $ccg-orange, $ccg-orange) no-repeat right bottom / 0;
        transition: background-size 350ms;

        &:where(:hover, :focus-visible) {
          background-size: 100%;
          background-position-x: left;
        }
      }
    }
  }

  .smaller-intro {
    h3 {
      @include body-text($ccg-green);
    }
  }
}