.related-content {
  position: relative;
  z-index: 8;
  margin-top: -25px;
  background-color: $ccg-related-content-bg;
  padding: 55px 0;
  border-radius: 0 0 25px 25px;

  h3 {
    font-size: clamp(1.75rem, 0.1944rem + 3.2407vw, 2.625rem);
    font-family: $font-circular-medium;
    color: $ccg-orange;
    margin-bottom: 40px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }

  .article-card {
    @import '../../../article-card';

    .intro {
      @include body-text($ccg-text);
      color: $ccg-text !important;
    }

    .find-out-more {
      @include body-text($ccg-text);
      text-decoration: underline;
    }

    @include media-breakpoint-up(lg) {
      &:nth-child(n+4) {
        display: none;
      }
    }

    @include media-breakpoint-only(md) {
      &:nth-of-type(n+3) {
        display: none;
      }
    }
  }

  .no-posts {
    @include body-text($ccg-text);
  }

  .global-button {
    @include long-button($ccg-dark-green, $ccg-orange, #ffffff, #ffffff);
    margin: auto;
  }

  @include media-breakpoint-up(lg) {
    padding: 75px 0;
  }
}