.page-template-page-careers {
  .header-logo a {
    svg rect,
    svg path {
      fill: $ccg-dark-green !important;
    }

    svg g g path:nth-child(25) {
      fill: $ccg-pink !important;
    }
  }

  @import "components/header";

  @import "components/diversity";

  @import "components/values";

  @import "components/life-here";

  @import "components/culture";

  @import "components/other-info";

  @import "components/vacancies";

  .slide-in-image {
    opacity: 0;
    transform: translate(0px, 20px);
  }
}