.post-header {
  position: relative;
  padding-top: $ccg-top-page-padding;
  padding-bottom: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header-content {
    z-index: 1;

    p.term {
      @include term($ccg-orange);
    }

    h1.title {
      @include title-text(#ffffff);
    }

    .intro {
      h2 {
        @include sub-heading-text(#ffffff);

        a {
          color: $ccg-green;
          background: linear-gradient(0deg, $ccg-orange, $ccg-orange) no-repeat right bottom / 0;
          transition: background-size 350ms;

          &:where(:hover, :focus-visible) {
            background-size: 100%;
            background-position-x: left;
          }
        }
      }
    }
  }
}