.archive-header {
  padding-top: $ccg-top-page-padding;
  background-color: $ccg-green;
  position: relative;

  h1.title {
    position: relative;
    @include title-text($hof-white);
    @include demoted-listing-h1();
  }

  .intro {
    position: relative;
    z-index: 3;

    h2,
    p.statement {
      @include sub-heading-text($hof-white);
      @include listing-statement();
    }
  }
}