.archive-posts-container {
  padding-top: 30px;
  padding-bottom: 75px;
  margin-top: -5px;
  background: linear-gradient($ccg-green 200px, $ccg-off-white 10px);

  @import "term-selector";
  @import "../../../article-card";

  .article-card {
    margin-bottom: 30px !important;
    opacity: 0;
    z-index: 3;
    position: relative;
  }

  .no-results {
    font-family: $font-circular-medium;
    color: #ffffff;
  }

  .global-button {
    @include long-button($ccg-dark-green, $ccg-orange, #ffffff, #ffffff);
    display: none;
    margin: auto;
  }

  #loading-indicator {
    display: none;
    text-align: center;
    position: relative;
    margin: 40px 0;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 110px;
    background: linear-gradient($ccg-green 350px, $ccg-off-white 10px);

    .article-card {
      margin-bottom: 60px !important;
    }
  }
}